<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>TipLisk:User Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
    <link rel="stylesheet" href="./css/user.css">
</head>
<body>
    <div class="container">
        <br>
        <form action="/logout" method="post" name="logout-form">
            <button type="submit" class="btn btn-secondary">Logout</button>
        </form>
        <br>
        <h2>User Info</h2>
        <div class="row">
            <div class="user-label">UserId:&nbsp;</div>
            <div class="user-value"><%= user.userId %></div>
        </div>
        <div class="row">
            <div class="user-label">Balance:&nbsp;</div>
            <div class="user-value"><%= user.amount %>&nbsp;LSK</div>
        </div>
        <br>
        <h2>History</h2>
        <% for (item of history) { %>
        <div class="row type-<%= item.type %>">
            <div class="col-sm-12 col-md-4"><%= utils.numberFormat(item.amount) %>&nbsp;LSK</div>
            <div class="col-sm-12 col-md-5"><%= utils.getTypeAndName(item.type, item.targetNm) %></div>
            <div class="col-sm-12 col-md-3"><%= utils.formatDate(item.execDate, 'yyyy/mm/dd HH:MM:ss') %></div>
        </div>
        <% } %> 
    </div>
</body>
</html>